
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}


.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.box {
	display: flex;
	justify-content: space-around;
}

.order {
	margin-top:30px;
	padding: 32px;
	border-radius: 4px;
	resize: vertical;
}